# Data Cleaning
This notebook cleans the data scraped from twitter

In [1]:
# import libraries
import json
import pandas as pd

TODO:
1. Get tweets file for mumbai
2. Get tweets and users file for brazil

In [23]:
def read_json(file_name):
    """This function reads the json file"""
    # Opening JSON file
    file = open(file_name)
    # returns JSON object as a dictionary
    data = json.load(file)
    # Closing file
    file.close()
    return data

In [34]:
# select the location to perform cleaning operation
locations = ['australia', 'joshimath', 'mumbai', 'north_america']
location = 'mumbai'

In [36]:
# read files
tweets = read_json(f'../data/raw/{location}/tweets.json')
users = read_json(f'../data/raw/{location}/users.json')

# convert dict to DataFrame
tweets = pd.DataFrame.from_dict(tweets)
users = pd.DataFrame.from_dict(users)

In [32]:
tweets.head()

,text,public_metrics,referenced_tweets,entities,conversation_id,lang,created_at,edit_history_tweet_ids,possibly_sensitive,author_id,id,attachments,context_annotations,geo,withheld,in_reply_to_user_id
0,RT @wxbrad: 123° at 2pm local which is 6° hott...,"{'retweet_count': 2, 'reply_count': 0, 'like_c...","[{'type': 'retweeted', 'id': '1405277280343977...","{'mentions': [{'start': 3, 'end': 10, 'usernam...",1405280589310087179,en,2021-06-16T21:46:15.000Z,[1405280589310087179],False,832311020324581376,1405280589310087179,"{'media_keys': {}, 'poll_ids': {}}",{},{'coordinates': {'coordinates': {}}},{'country_codes': {}},NaN
1,RT @wxbrad: 123° at 2pm local which is 6° hott...,"{'retweet_count': 2, 'reply_count': 0, 'like_c...","[{'type': 'retweeted', 'id': '1405277280343977...","{'mentions': [{'start': 3, 'end': 10, 'usernam...",1405277895010914305,en,2021-06-16T21:35:33.000Z,[1405277895010914305],False,22295987,1405277895010914305,"{'media_keys': {}, 'poll_ids': {}}",{},{'coordinates': {'coordinates': {}}},{'country_codes': {}},NaN
2,123° at 2pm local which is 6° hotter than the ...,"{'retweet_count': 2, 'reply_count': 4, 'like_c...",{},"{'mentions': {}, 'annotations': [{'start': 69,...",1405277280343977986,en,2021-06-16T21:33:07.000Z,[1405277280343977986],False,22215485,1405277280343977986,"{'media_keys': ['3_1405276807994044422', '3_14...",{},{'coordinates': {'coordinates': {}}},{'country_codes': {}},NaN
3,RT @breakingweather: While an intense heat wav...,"{'retweet_count': 15, 'reply_count': 0, 'like_...","[{'type': 'retweeted', 'id': '1405004765919072...","{'mentions': [{'start': 3, 'end': 19, 'usernam...",1405203115448713223,en,2021-06-16T16:38:24.000Z,[1405203115448713223],False,62147616,1405203115448713223,"{'media_keys': {}, 'poll_ids': {}}",{},{'coordinates': {'coordinates': {}}},{'country_codes': {}},NaN
4,RT @LeonieGreene: If you think it's hot here.....,"{'retweet_count': 6, 'reply_count': 0, 'like_c...","[{'type': 'retweeted', 'id': '1405190942643130...","{'mentions': [{'start': 3, 'end': 16, 'usernam...",1405193457497411587,en,2021-06-16T16:00:02.000Z,[1405193457497411587],False,251622947,1405193457497411587,"{'media_keys': {}, 'poll_ids': {}}","[{'domain': {'id': '47', 'name': 'Brand', 'des...",{'coordinates': {'coordinates': {}}},{'country_codes': {}},NaN

In [37]:
users.head()

,name,created_at,profile_image_url,protected,id,location,pinned_tweet_id,public_metrics,description,verified,username,entities,withheld,url
0,かみやん,2017-08-23T16:55:45.000Z,https://pbs.twimg.com/profile_images/110629666...,False,900401183893762048,全てを賭ける覚悟はある？,1155600868898529280,"{'followers_count': 60, 'following_count': 98,...",GIANT→BMC→AVENTON→GIOS→ピスト組みました。,False,kurumi_slr03,"{'url': {'urls': {}}, 'description': {'urls': ...",{'country_codes': {}},NaN
1,Cyclist（サイクリスト）,2012-06-26T06:23:05.000Z,https://pbs.twimg.com/profile_images/529827574...,False,618797935,JAPAN,NaN,"{'followers_count': 40575, 'following_count': ...",YouTubeチャンネル「サイクリストTV」をはじめ、サイクリングにまつわる情報を発信します。,True,cyclist_sanspo,"{'url': {'urls': [{'start': 0, 'end': 23, 'url...",{'country_codes': {}},https://t.co/tujMkvmlAm
2,Investors,2010-08-19T02:12:50.000Z,https://pbs.twimg.com/profile_images/127044319...,False,180206167,NaN,NaN,"{'followers_count': 2, 'following_count': 0, '...",,False,businessinvesto,"{'url': {'urls': {}}, 'description': {'urls': ...",{'country_codes': {}},NaN
3,TOI Cities,2009-04-13T11:14:45.000Z,https://pbs.twimg.com/profile_images/906649119...,False,30846824,NaN,1559499012683677697,"{'followers_count': 27864, 'following_count': ...",Unmatched coverage from over 60 cities across ...,True,TOICitiesNews,"{'url': {'urls': [{'start': 0, 'end': 23, 'url...",{'country_codes': {}},https://t.co/JcPDiuuhoz
4,claudia!! 🌟 comms open,2015-05-18T21:10:00.000Z,https://pbs.twimg.com/profile_images/158211989...,False,3289073692,savannah,1593795917110444037,"{'followers_count': 958, 'following_count': 80...",sequential major at SCAD! storyboard artist. 2...,False,leafduds,"{'url': {'urls': [{'start': 0, 'end': 23, 'url...",{'country_codes': {}},https://t.co/m2yPbEIDOJ

In [7]:
# rename column names for coherence
users.rename(columns={'id':'author_id', 'public_metrics':'author_metrics', 'created_at':'account_created', 'entities':'author_entities', 'location':'account-location', 'url':'author_url'}, inplace=True)

# drop duplicates
users.drop_duplicates(subset=['author_id'], keep='first', inplace=True)
tweets.drop_duplicates(subset=['id'], keep='first', inplace=True)

# merge tweets and user data
df = pd.merge(left=tweets, right=users, on='author_id', right_index=False)

In [16]:
# Export the json
df.to_json(f'../data/cleaned/{location}_tweets.json')

In [12]:
print(f"{len(df['conversation_id'].unique())} unique tweets and overall {len(df)} tweets cleaned for {location}")

381740 unique tweets and overall 383059 tweets cleaned and saved for australia